.season-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.summer{
  background-color: #FFFFD5;
}

.season-display.winter{
  background-color: #D9E9FF;
}

.summer i{
  color: orange;
}

.winter i{
  color: blue;
}

.icon-left-top{
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right-bottom{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
